{% extends "inc/base.html" %}

{% load static %}

{% block page_title %}
Stack OND Flow
{% endblock %}

{% block content %}

<!-- Begin page content -->
<div class="row">

  <div class="col-11 page-header">
    <h1>New Question</h1>
  </div>

</div>

  <div class="row">
    <div class="col-9">
        <div class="new-question">
            <form class="col-11 new-question-form">
                <div class="error failure">
                    Fill in all fields
                </div>
                <div class="form-group form-group-flex">
                    <label class="question-form-label" for="questionTitle">Title:</label>
                    <input class="form-control question-form" id="questionTitle" placeholder="How to build a moon park?" required>
                </div>
                <div class="form-group form-group-flex">
                    <label class="question-form-label" for="questionText">Text:</label>
                    <textarea class="form-control question-form" id="questionText" placeholder="Really, how? Have no idea about it" rows="8" required></textarea> 
                </div>
                <div class="form-group form-group-flex">
                    <label class="question-form-label" for="questionTags">Tags:</label>
                    <textarea class="form-control question-form" id="questionTags" placeholder="moon, park, puzzle" rows="1" required></textarea>
                </div>
                <button type="submit" class="btn btn-dark submit-button sbmt-ask-btn">Ask!</button>
              </form>
        </div>
    </div>
  </div>
  
{% endblock %}