{% extends "inc/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block page_title %}
Stack OND Flow
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-11 page-header">
      <h1>Log In</h1>
    </div>
  </div>

  <div class="row page-content" action="/login/" method="post">

    <!-- LogIn col -->
    <form class="col-8 su-form login-form">
      <div class="error failure">
        Sorry, wrong password!
      </div>
      <div class="form-group form-group-flex">
        <label class="reg-form-label" for="userLogin">Login:</label>
        <input class="form-control reg-form" name="username" id="userLogin" placeholder="muslimitsuhide">
      </div>
      <div class="form-group form-group-flex">
        <label class="reg-form-label" for="userPsw">Password:</label>
        <input type="password" class="form-control reg-form" name="password" id="userPsw" placeholder="password">
      </div>

      <button type="submit" class="btn btn-dark submit-button sbmt-reg-btn">Log in</button>
    </form>
  </div>
{% endblock content %}  