{% extends "inc/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block page_title %}
Stack OND Flow
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-11 page-header">
      <h1>Log In</h1>
    </div>
  </div>

  <div>
    <form action="/login/?continue=/" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-outline-dark me-2">Log in</button>
      <span><a href = "/singup/">Create new acount</a></span>
    </form>
  </div> 

{% endblock content %}  