{% extends "inc/base.html" %}
{% load static %}

{% block content %}

  <div class="open-question">
      <div class="row">
          <div class="col-2">
              <div class="open-question-avatar">
                <img src= "{% static "img/avatar1.jpeg" %}" />
              </div>
              <div class="question-author-name"><a href="#">{{question.user.name}}</a></div>
              <div class="question-rating">
                <div class="question-rating-arrows">
                  <div class="btn btn-sm question-rating-arrow-up">↑</div>
                  <div class="question-rating-amount success">+{{question.rating}}</div>
                  <div class="btn btn-sm question-rating-arrow-down">↓</div>
                </div>
              </div>
          </div>

          <div class="col-9">
              <div class="row question-header">
                <h2><a href="../templates/question.html">{{question.title}}</a></h2>
              </div>
                <div class="open-question-text">
                  {{question.content}}
                </div>
                <div class="row">
                    <div class="col-6">
                        Tags: 
                        {% for tag in question.tags.all %}  
                          <div class="tag btn"><a href="{% url "tag" tag.id %}">{{tag.title}}</a></div>
                        {% endfor %}
                    </div>
                </div>
          </div>
      </div>
  </div>

  <hr>
  <div class="container">
      <h1 class="mt-5">Answers</h1>
  </div>

  <div class="answer-section">
    {% for answer in page_obj %}
      {% include "inc/answer.html" %}
    {% endfor %}
  </div>
  {% include "inc/paginator.html" %}
<hr>

<form class="new-answer">
  <div class="form-group form-group-flex">
    <textarea class="form-control question-form" id="questionText" placeholder="Enter your answer here..." rows="6"></textarea> 
  </div>
  <button type="submit" class="btn btn-dark answer-button">Answer</button>
</form>

{% endblock content %}