{% load static %}

<div class="answer">
    <div class="row">
      <div class="col-2">
            <div class="question-avatar">
              <img src="{% static "img/avatar1.jpeg" %}" alt="">
            </div>
            <div class="question-author-name"><a href="#">{{answer.author.user.first_name}} {{answer.author.user.last_name}}</a></div>
      </div>

      <div class="col-9">
        <div class="open-question-text">
            {{answer.content}}
        </div>
        <div class="ans-status">
          <div class="form-check">
              <input class="form-check-input check-right" type="checkbox" value="" id="isRirghtAns">
              <label class="form-check-label" for="isRightAns">Correct!</label>
          </div>
        </div>
      </div>
      <div class="question-status">
        <div class="question-time-ago">{{answer.time_ago}}</div>
      </div>
  </div>
</div>