{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block page_title %}{% endblock page_title %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/head_logo.png" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body class="d-flex flex-column h-100">

    {% include "inc/header.html" %}

    <!-- Begin page content -->
    <br><br>
    <main class="flex-shrink-0">
      <div class="container">
        <div class="row">
          <div class="col-9 page-body">

            {% block content %}{% endblock content %}

          </div>
          
            {% include "inc/sidebar.html" %}

        </div>
      </div> 
    </main>

    {%include "inc/footer.html"%}
    
  </body>
</html>
