{% load static %}

<div class="question">
  <div class="row">
      <div class="col-2">
          <div class="question-avatar">
              <img src="{% static question.user.avatar %}" alt="">
          </div>
          <div class="question-author-name"><a href="#">{{question.user.name}}</a></div>
          <div class="question-rating">
            <div class="question-rating-arrows">
              <div class="btn btn-sm question-rating-arrow-up">↑</div>
              <div class="question-rating-amount success">+{{question.rating}}</div>
              <div class="btn btn-sm question-rating-arrow-down">↓</div>
            </div>
          </div>
      </div>

      <div class="col-9">
        <div class="row question-header">
          <h2><a href="{% url "question" question.id %}">{{question.title}}</a></h2>
        </div>
          <div class="question-text">{{question.text}}</div>
          <div class="row">
              <div class="col-3">
                <div class="question-answers"><a href="{% url "question" question.id %}">Answers ({{question.answers_amount}})</a></div>
              </div>
              <div class="col-4">
                {% for tag in question.tags %}
                  <div class="tag btn"><a href="{% url "tag" tag.id %}">{{tag.name}}</a></div>
                {% endfor %}
              </div>
          </div>
      </div>
      <div class="question-status">
        <div class="question-time-ago">{{question.time_ago}}</div>
      </div>
  </div>
</div>