<!-- Sidebar -->
<div class="col-3 sidebar">
    <div class="sidebar-block sidebar-tags">
      <div class="row sidebar-header">
        <h3>Popular tags<h3>
      </div>
      <div class="sidebar-content">
        {% for tag in top_tags %}
          <li class="tag"><a href="{% url "tag" tag=tag.title %}">{{tag.title}}</a></li>
        {% endfor %}
      </div>
    </div>
    <div class="sidebar-block sidebar-users">
      <div class="row sidebar-header">
        <h3>Best members<h3>
      </div>
      <div class="sidebar-content">
        <ul class="list-group list-group-flush">
          {% for user in top_users %}
            <div class="list-group-item sidebar-user">
              <a href="#" class="sidebar-user-name">{{user.name}}</a>
              <span class="badge badge-primary badge-pill">{{user.rating}}</span>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div> 